@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
html,
body {
  position: relative;
  height: 100%;
  width: 100%; }

html {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  color: #343a40;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: linear-gradient(45deg, #2a1ba1, #1dd2b1 100%) !important; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0; }
  to {
    opacity: 2; } }

@keyframes zoomIn {
  from {
    opacity: 0; }
  to {
    opacity: 2; } }
.ruta {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, black), to(#1dd2b1));
  background: linear-gradient(90deg, black 60%, #1dd2b1);
  font-weight: bold; }

.card {
  height: 40vh !important; }

.mapa {
  width: 100%;
  height: 100%; }

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../images/contacto-manos.jpg") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }
  .contacto .seccion-arriba-contacto {
    height: 20vh; }
    .contacto .seccion-arriba-contacto .eslogan,
    .contacto .seccion-arriba-contacto .esloganSub {
      -webkit-animation-duration: 3s;
              animation-duration: 3s;
      -webkit-animation-name: zoomIn;
              animation-name: zoomIn;
      font-weight: bold; }
  .contacto .formulario {
    height: 80vh;
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%) !important; }

.capa-translucida {
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.4), rgba(29, 210, 177, 0.4) 100%) !important; }

.capa-translucida-boton {
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%) !important; }

h1 {
  font-weight: 300;
  letter-spacing: 2px; }

.mi-boton {
  padding: .2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 110px;
  border: 1px solid white;
  margin: 10px 10px 10px 10px;
  color: #033C73;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }

.mi-boton:hover {
  border-radius: 50px;
  border: none; }

a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px; }

#effect-button {
  position: relative;
  overflow: hidden;
  cursor: pointer; }

#effect-button a {
  position: relative;
  text-decoration: none;
  -webkit-transition: all .45s ease-Out;
  transition: all .45s ease-Out;
  font-weight: bold; }

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, black), to(#1dd2b1));
  background: linear-gradient(90deg, black 60%, #1dd2b1);
  position: absolute;
  -webkit-transition: all .5s ease-Out;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px; }

#effect-button:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px; }

#effect-button:hover a,
#effect-button:hover button {
  text-transform: uppercase;
  color: white;
  font-weight: bold; }

.imgClinica {
  height: 85vh !important;
  padding: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.imgClinica:before {
  content: "";
  position: absolute;
  background: black;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .4; }

.imgAparatologia:before {
  content: "";
  position: absolute;
  background: black;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .4; }

.imgAparatologia {
  height: 65vh !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.swiper-container-cube {
  height: 100%; }

.btn-toolbar {
  color: white;
  border-radius: 1.5rem;
  padding: 0.4rem 1.5rem;
  font-weight: bold;
  -webkit-transition: all 3sec ease-in-out;
  transition: all 3sec ease-in-out; }

.btn-toolbar:hover {
  color: whitesmoke;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, black), to(#1dd2b1));
  background: linear-gradient(90deg, black 70%, #1dd2b1);
  border: none; }

#social-net-bar {
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, black), to(#1dd2b1));
  background: linear-gradient(90deg, black 70%, #1dd2b1); }

.redes-sociales i {
  color: #e9ecef;
  font-size: 1.5rem;
  padding-right: 1rem;
  opacity: .6;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.redes-sociales i:hover {
  opacity: 1; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: black;
  font-weight: bold; }

.navbar-dark .navbar-nav .nav-link {
  padding: .5rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* .navbar-dark .navbar-nav .nav-link:after {

    font-family: 'Font Awesome 5 Free';
    content: "\f054";
    font-weight: 900;
    font-size: 1.2rem;
    text-justify: right;
    transition: all .5s ease;
} */
/* .navbar-dark .navbar-nav .nav-link:hover:after {
    transform: rotateZ(180deg);
} */
#SwiperClinica .swiper-pagination-bullets {
  margin-top: auto;
  margin-bottom: 5rem; }

.swiper-pagination-bullet-active {
  background: white !important; }

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none !important; }

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  margin: 2rem;
  padding: 1rem; }

.swiper-button-next::before {
  font-family: 'Font Awesome 5 Free';
  content: "\f0a9";
  font-weight: bold;
  font-size: 3rem;
  text-justify: left;
  opacity: .4;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.swiper-button-prev::before {
  font-family: 'Font Awesome 5 Free';
  content: "\f0a8";
  font-weight: bold;
  font-size: 3rem;
  text-justify: right;
  opacity: .4;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

@media (min-width: 768px) {
  .navbar-dark .navbar-nav .nav-link:after {
    content: ""; }

  .navbar-dark .navbar-nav .nav-link {
    border-radius: 1.5rem; } }
#apppage .gradient {
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%); }

#apppage .view {
  background-image: url("../images/fondo_sanis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh; }

#apppage h6 {
  line-height: 1.7; }

@media only screen and (max-width: 400px) {
  #apppage .animated img {
    max-height: 50vh;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    position: absolute; } }
@media only screen and (max-width: 767px) {
  #apppage .animated img {
    max-height: 35vh;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%; } }
@media (max-width: 767px) and (orientation: landscape) {
  #apppage .animated img {
    max-height: 50vh;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    position: relative; } }
@media (max-width: 1000px) and (orientation: landscape) {
  #apppage .view {
    min-height: 150vh; } }

/*# sourceMappingURL=estilos.css.map */